.card {
    width: 400px;
    height: 475px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 6px;
    justify-content: space-between;
    margin: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}